
<header>
  <h1>LPU LIFE</h1>
  <p><a href="/">Home</a></p>
    <p><a href="/sem2">Semester2</a></p>
      <p><a href="/sem3">Semester3</a></p>
        <p><a href="/sem4">Semester4</a></p>
          <p><a href="/sem5">Semester5</a></p>
            <p><a href="/sem6">Semester6</a></p>
  <h3>My Semester {{Grade}}</h3>
</header>
